@charset "UTF-8";

@mixin helpers-float($responsive:false) {
  $-float-values: (left, right, none);
  
  @if $responsive {
    @each $value in $-float-values {
      @each $classname in $breakpoint-classes {
        @include breakpoint($classname) {
          .#{$classname}-float-#{$value} {
            float: #{$value};
          }
        }
      }
    }
  } @else {
    @each $value in $-float-values {
      .float-#{$value} {
        float: #{$value};
      }
    }
  }
  
}